<p id="notice"><%= notice %></p>

<h1>Listing Product Variants</h1>

<table>
  <thead>
    <tr>
      <th>Options</th>
      <th>Product variant number</th>
      <th>Primary photo</th>
      <th>Product</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @product_variants.each do |product_variant| %>
      <tr>
        <td><%= product_variant.options %></td>
        <td><%= product_variant.product_variant_number %></td>
        <td><%= product_variant.primary_photo_id %></td>
        <td><%= product_variant.product_id %></td>
        <td><%= link_to 'Show', product_variant %></td>
        <td><%= link_to 'Edit', edit_product_variant_path(product_variant) %></td>
        <td><%= link_to 'Destroy', product_variant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product variant', new_product_variant_path %>
