<p id="notice"><%= notice %></p>

<p>
  <strong>Options:</strong>
  <%= @product_variant.options %>
</p>

<p>
  <strong>Product variant number:</strong>
  <%= @product_variant.product_variant_number %>
</p>

<p>
  <strong>Primary photo:</strong>
  <%= @product_variant.primary_photo_id %>
</p>

<p>
  <strong>Product:</strong>
  <%= @product_variant.product_id %>
</p>

<%= link_to 'Edit', edit_product_variant_path(@product_variant) %> |
<%= link_to 'Back', product_variants_path %>
