<!DOCTYPE html>
<html>
<head>
  <title>SsjRails</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</head>
<body>

<%= yield %>

</body>
</html>
